body{
    font-family: 'Karla', sans-serif;
    font-size: 16px;
    background-color: hsl(204, 43%, 93%);
}

/*---- Establecimiento del GRID en el DIV "Contenido" --- */
.Contenido{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    max-width: 635px;
    margin: 5% auto;
    color: #ffffff;
}

/* -----Relativo al DIV "Principal"----------------------- */
.Principal{
    grid-column: 1 / span 2;
    grid-row: 1 / 2;
    background-color: #ffffff;
    padding: 2.5em;
}

h1{
    font-size: 1em;
    font-weight: 700;
    color: #2bb3b1;
}

h2{
    font-size: 0.75em;
    font-weight: 700;
    color: hsl(71, 73%, 54%);
}

.TextoPrincipal{
    font-size: 0.625em;
    color: hsl(218, 22%, 67%);
}

/* -----Relativo al DIV "Suscripcion"----------------------- */
h3{
    font-size: 1em;
    font-weight: 700;
}

.btn{
    font-size: 0.625em;
    font-weight: 700;
    text-decoration: none;
    color: inherit;
    background-color: hsl(71, 73%, 54%);
    display: block;
    text-align: center;
    padding: 1em 0;
    border-radius: 5px;
}

.btn:hover{
    background-color: hsl(71, 73%, 44%)
}

.Suscripcion{
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    background-color: #2bb3b1;
    padding: 2.5em;    
}


.Oferta{
    display: flex;
    font-size: 0.75em;
    align-items: center;
}

.Precio{
    font-size: 1.83em;
    font-weight: 700;
    margin-right: 0.3em;
}

.TextoSuscripcion{
    font-size: 0.625em;
    margin: 2em 0;
}

/* -----Relativo al DIV "AcercaDe"----------------------- */
.AcercaDe{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background-color: #4abebd;
    padding: 2.5em;
}

ul{
    font-size: 0.625em;
    list-style: none;
    line-height: 1.5;
    padding: 0;
}


/*-----------Relativo al Pie de página--------------------*/

.attribution { 
    font-size: 11px; 
    text-align: center;
 }

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

@media (max-width: 500px)
{
    .Contenido{
        grid-template-columns: auto;
        grid-template-rows: auto auto auto;
    }

    .Principal{
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    .Suscripcion{
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }

    .AcercaDe{
        grid-column: 1 / 2;
        grid-row:  3 / 4;
    }
}